version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: auth_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    stdin_open: true
    tty: true
    restart: unless-stopped
    depends_on:
      - backend

  db:
    image: postgres:16-alpine
    container_name: auth_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydatabase"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: "redis:alpine"
    container_name: auth_redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit
    container_name: auth_mailpit
    ports:
      - "8025:8025" #dashboard webUI untuk mail masuk
      - "1025:1025" # port SMTP backend kirim email
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: auth_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /etc/localtime:/etc/localtime:ro
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
      - TZ=Asia/Jakarta
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      mailpit:
        condition: service_started
    restart: unless-stopped
    
volumes:
  postgres_data: